@{
    ViewData["Title"] = "Login Page";
}

<form method="post" asp-action="Login" asp-controller="Auth">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="Employee_Email" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="Employee_Password" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>